# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env/

# Environment files
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kubernetes local files
*.secret.yaml

# Build/cache
.pytest_cache/
.mypy_cache/