<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to-do list </title>

</head>
<body>

    <h1> to-do list </h1>

    <form action = /submittodoitem method = post>
        <label for ="itemname">item name:</label>
        <input type = "text" id = "itemname" name = "itemname" required>

        <br>
        <label for = "itemdescription">item description:</label>
        <input type = "text" id = "itemdescription" name = "itemdescription" required>

        <br>

        <label for = "itemid">item id:</label>
        <input type = "text" id = "itemid" name = "itemid" required>

        <br>
        
        <label for = "itemuuid">item uuid:</label>
        <input type = "text" id = "itemuuid" name = "itemuuid" required>

        <br>

        <label for = "itemhash">item hash:</label>
        <input type = "text" id = "itemhash" name = "itemhash" required>

        <br>


        <button type = "submit"> add item </button>

    </form>


</body>
</html>